@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  background-color: pink;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  background-image: url("hotel.jpeg");
}


h1 {
  text-align: center;
  font-size: xx-large;
}

#guest-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}