@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  background-color:black;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  
  background-image: url("white-hotel.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}


h1 {
  text-align: center;
  font-size: xx-large;
  color: pink;
}

#guest-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color:peachpuff;
  gap: 10px;
  
}